        body {
            padding: 0;
            margin: 0;
        }

        header {
            background-color: khaki;
            padding: 20px 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        main {
            padding: 50px;
        }
        .helptext {
            display:block;
            font-style: italic;
            font-size: 0.7rem;
        }