<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/blog/home_blog.css' %}">

</head>

<body>
<header>
    <h1>
        <a href="{% url 'portifolio:categorias_blog' %}">Categorias</a>
        -
        <a href="{% url 'portifolio:artigos_blog' %}">Artigos</a>
    </h1>
    <p>
        {% if request.user.is_authenticated %}
            user: {{ request.user }}
            <a href="{% url 'portifolio:logout_blog' %}">Logout</a>
        {% else %}
            <a href="{% url 'portifolio:login_blog' %}">Login</a>
        {% endif %}
    </p>
</header>

<main>
    {% block main %}

    {% endblock main %}
</main>
</body>

</html>

