{% extends 'portfolio/base/layout_base.html' %}
{% block main %}
    <h1>Detalhes da Categoria</h1>
    <h2>{{ categoria.nome }}</h2>
    <p><strong>Descrição:</strong> {{ categoria.descricao }}</p>
    <p><strong>Data de Criação:</strong> {{ categoria.data_criacao }}</p>
    <h2>Artigos:</h2>
    <ul>
        {% for artigo in artigos %}
            <li><a href="{% url 'portifolio:artigo_blog' artigo.id %}">{{ artigo.titulo }}</a></li>
        {% empty %}
            <li>Nenhum artigo nesta categoria.</li>
        {% endfor %}
    </ul>
    <img src="{{ categoria.imagem.url }}" alt="Imagem da Categoria">

{% endblock main %}