{% extends 'portfolio/base/layout_base.html' %}



{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/home_base.css' %}">
{% endblock %}


{% block main %}

    <section class="hero">
        <div class="content">
            <h2>Portfólio</h2>

            <p>
                {% if hora >= 5 and hora <= 12%}
                    Bom dia,
                {% elif hora > 12 and hora <= 19 %}
                    Boa tarde,
                {% else %}
                    Boa noite,
                {% endif %}

                são {{ hora }} horas e este é o meu Portfólio feito na cadeira de Programação Web.
            </p>




            <div>
                <p>
                    <button class="dark-mode" onclick="toggleDarkMode()">Dark Mode</button>
                </p>
            </div>

            <button class="button-28" onclick="window.location.href = '{% url 'portifolio:sobreMim_Full' %}'">Sobre mim
            </button>
        </div>

      <!--  <div class="waves"></div> -->
    </section>

{% endblock %}

