<!DOCTYPE html>
<html lang="">

<head>
    <title>Portifólio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="Felipe Silva">
    <meta name="description" content="Meu Portifólio">
    <meta name="keywords" content="palavras chave">

    <!-- block link trás o css das outras pages-->
    {% block link %}
    {% endblock %}
    <!-- ------------------------------------- -->

    <!-- Favicon-->
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'portfolio/images/about/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'portfolio/css/base/layout_base.css' %}">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    {% load static %}


</head>

<body>

<header class="meu-header">

    <a href="{% url 'portifolio:home' %}" class="logo">Portfolio</a>
    <div class="mean-toggle"></div>
    <nav>
        <ul>

           <li> <a href="{% url 'portifolio:home' %}">Home</a></li>
           <li> <a href="{% url 'portifolio:sobreMim_Full' %}">About</a></li>
           <li> <a href="{% url 'portifolio:projetos_full' %}">Projects</a></li>
           <li> <a href="{% url 'portifolio:home_blog_full' %}">Blog</a></li>
           <li> <a href="{% url 'portifolio:contacto_full' %}">Contact</a></li>

        </ul>
    </nav>
    <div class="clear"></div>


</header>

<main>
    {% block main %}
    {% endblock main %}

</main>

<footer>
    <div class="waves"></div>

</footer>
<!-- Font Awesome icons (free version)-->
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script src="{% static 'portfolio/JavaScript/dark-mode-button.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/calculator.js' %}"></script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'portfolio/JavaScript/lib/typed/typed.min.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'portfolio/JavaScript/mail/jqBootstrapValidation.min.js' %}"></script>
<script src="{% static 'portfolio/JavaScript/mail/contact.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'portfolio/JavaScript/js/main.js' %}"></script>


<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('.mean-toggle').click(function () {
            $('.mean-toggle').toggleClass('active')
            $('nav').toggleClass('active')
        })
    })
</script>
</body>
</html>