{% extends 'portfolio/base/layout_base.html' %}



{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">
{% endblock %}






{% block main %}

    <section class="hero-projetos">
        <div class="content">
            <div class="capitais">
                <h1>Meus Projetos</h1>
                <p>Aqui jaz os meus projetos realizados durante minha carreira acadêmica/profissional.</p>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/car arduino.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Arduino Car</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/DeisiJungle.png' %}" alt="">  <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Deisi Jungle</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/DeisiFlix.png' %}" alt="Deisi Flix">
                    </div>
                    <div class="title">
                        <p>DeisiFlix Movies</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/ProjBaseDeDados.png' %}" alt="Projeto Base De Dados">
                    </div>
                    <div class="title">
                        <p>Base de Dados(Projeto Final)</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/MaquinaLavar.png' %}"
                             alt="Software Maquina de Lavar(funcional)">
                    </div>
                    <div class="title">
                        <p>Software Máquina de Lavar(funcional)</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/MineProj.png' %}" alt="Projeto Minesweeper">
                    </div>
                    <div class="title">
                        <p>Jogo Minesweeper(Projeto Final)</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/NaoTeConstipes.png' %}" alt="Não te Constipes">
                    </div>
                    <div class="title">
                        <p>Jogo Não te Constipes(Projeto Final)</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <h1>Laboratórios (Programação Web)</h1>

                <p>Estes são os meus laboratórios realizados na cadeira de Programação Web sob orientação dos
                    professores Lúcio Studer e Pedro Perdigão.</p>

                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/lab1Image.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Laboratório 1</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/lab2Image.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Laboratório 2</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/lab3Image.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Laboratório 3</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/lab4Image.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Laboratório 4</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/lab4Image.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Lista de Tarefas (Django)</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:home_tarefa' %}'">Saiba mais</button>
                    </div>
                </div>


                <div class="cards">
                    <div class="image-project">
                        <img src="{% static 'portfolio/images/lab4Image.png' %}" alt=""> <!-- Outros projetos... -->
                    </div>
                    <div class="title">
                        <p>Airport Application</p>
                    </div>
                    <div class="button-yellow">
                        <button onclick="window.location.href = '{% url 'portifolio:flights' %}'">Saiba mais</button>
                    </div>
                </div>




            </div>
        </div>
    </section>
    <section>
        <!-- Código da calculadora -->
        <div class="main">
            <input type="text" id='res'>
            <div class="btn">
                <input type="button" value='C' onclick="Clear()">
                <input type="button" value='%' onclick="Solve('%')">
                <input type="button" value='←' onclick="Back('←')">
                <input type="button" value='/' onclick="Solve('/')">
                <br>
                <input type="button" value='7' onclick="Solve('7')">
                <input type="button" value='8' onclick="Solve('8')">
                <input type="button" value='9' onclick="Solve('9')">
                <input type="button" value='x' onclick="Solve('*')">
                <br>
                <input type="button" value='4' onclick="Solve('4')">
                <input type="button" value='5' onclick="Solve('5')">
                <input type="button" value='6' onclick="Solve('6')">
                <input type="button" value='-' onclick="Solve('-')">
                <br>
                <input type="button" value='1' onclick="Solve('1')">
                <input type="button" value='2' onclick="Solve('2')">
                <input type="button" value='3' onclick="Solve('3')">
                <input type="button" value='+' onclick="Solve('+')">
                <br>
                <input type="button" value='00' onclick="Solve('00')">
                <input type="button" value='0' onclick="Solve('0')">
                <input type="button" value='.' onclick="Solve('.')">
                <input type="button" value='=' onclick="Result()">
            </div>
        </div>
    </section>

{% endblock %}
