{% extends 'portfolio/base/layout_base.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/sobreMim_base.css' %}">
{% endblock %}


{% block main %}

    <video autoplay muted loop id="myVideo">
        <source src="{% static 'portfolio/Videos/sdf.mp4' %}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="cont">
        <h1 class="sobre-mim">Sobre mim</h1>
        <p>Vídeo contando um pouco sobre mim!</p>
        <button id="myBtn" onclick="myFunction()">Pause</button>
        <button id="myBtn" onclick="myFunction()">Saber Mais</button>
    </div>


{% endblock main %}