<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- ===== CSS ===== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/testeNav.css' %}">

    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>


    <title>Responsive Navigation Menu Bar</title>
</head>
<body>
<header>
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen'></i>
            <span class="logo navLogo"><a href="#">CodingLab</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">CodingLab</a></span>
                    <i class='bx bx-x siderbarClose'></i>
                </div>

                <ul class="nav-links">
                    <li><a href="{% url 'portifolio:home' %}">Início</a></li>
                    <li><a href="{% url 'portifolio:sobreMim' %}">Sobre</a></li>
                    <li><a href="{% url 'portifolio:projetos' %}">Projetos</a></li>
                    <li><a href="{% url 'portifolio:home_blog' %}">Blog</a></li>
                    <li><a href="{% url 'portifolio:contacto' %}">Contacto</a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>

                <div class="searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x cancel'></i>
                        <i class='bx bx-search search'></i>
                    </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class='bx bx-search'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<script src="{% static 'portfolio/JavaScript/testeNav.js' %}"></script>


<main>






</main>

</body>
</html>