{% extends 'portfolio/base/layout_base.html' %}



{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/sobreMim_fullPage_base.css' %}">

{% endblock %}


{% block main %}

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Abilities</h2>
                <h3 class="section-subheading text-muted">Various aspects of my life will be presented.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">

                    <button class="botao_sobreMim"
                            onclick="window.location.href='{% url 'portifolio:home_educacao' %}'">
                           <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa-solid fa-book fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <h4 class="my-3">Education</h4>
                    <p class="text-muted">I detail all the bachelor's degrees, courses, and subjects I completed during
                        my academic and professional journey, emphasizing my dedication to ongoing learning and
                        development</p>


                </div>
                <div class="col-md-4">
                    <button class="botao_sobreMim"
                            onclick="window.location.href='{% url 'portifolio:skills' %}'">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-star fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <h4 class="my-3">My Skills</h4>
                    <p class="text-muted">I'm at the beginning of my programming career, eager to learn and grow. I have
                        basic skills in various languages, but I know I have a long way to go. I'm determined to improve
                        and become a skilled developer.</p>

                </div>
                <div class="col-md-4">
                    <button class="botao_sobreMim"
                            onclick="window.location.href='{% url 'portifolio:web_home_full' %}'">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa-solid fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <h4 class="my-3">Web Development</h4>
                    <p class="text-muted">This section is intended to reference some of the attributes required by the
                        course and to demonstrate their development over the course of the semester.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Hobbies</h2>
                <h3 class="section-subheading text-muted">My personal interests beyond my professional life.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/1.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Watches</div>
                            <div class="portfolio-caption-subheading text-muted">Great passion for IWC watches</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/2.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Soccer</div>
                            <div class="portfolio-caption-subheading text-muted">An eternal love</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/3.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Cars</div>
                            <div class="portfolio-caption-subheading text-muted">I identify with all of them</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/4.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Food</div>
                            <div class="portfolio-caption-subheading text-muted">Trying new flavors</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/5.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Technology</div>
                            <div class="portfolio-caption-subheading text-muted">Opportunity to create</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/6.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Perfume</div>
                            <div class="portfolio-caption-subheading text-muted">To experience new fragrances</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About Me</h2>
                <h3 class="section-subheading text-muted">I'm Felipe Guimarães Silva, a technology enthusiast born in
                    São Paulo. I decided to study Computer Engineering in Portugal with the goal of enhancing my
                    technical skills and expanding my knowledge.
                    Working in multidisciplinary teams has been an enriching experience. I'm excited to explore
                    opportunities that allow me to contribute to innovative solutions and drive technological
                    progress.</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/1.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>April 2017</h4>
                            <h4 class="subheading">Initial exposure to programming</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">My first encounter with programming was through
                            some games that allowed learning about CSS Flexbox and creating functions with
                            JavaScript</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/2.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>September 2019</h4>
                            <h4 class="subheading">First school projects</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">One of my early programming projects was the
                            creation of a calculator, followed by a simple memory game. In addition to programming, I
                            also learned concepts of photo editing using Gimp and CorelDRAW</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/3.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>September 2021</h4>
                            <h4 class="subheading">Academic Projects</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Throughout my university journey, I was able to
                            develop various complex projects, which will be referenced in this portfolio, ranging from a
                            simple 'print("Hello World!")' to algorithms for autonomous cars that aim to avoid obstacles
                            or algorithms capable of applying pixel-level changes to multiple images, including filters,
                            rotations, translations, binarizations, and more</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/4.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Currently</h4>
                            <h4 class="subheading">Seeking an opportunity to demonstrate my competencies</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">At the present moment, I'm seeking a job
                            opportunity where I can place a vote of confidence in a learner, considering that I'm still
                            at the beginning of my career and there are numerous subjects in which I'm a novice</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            <a href="{% url 'portifolio:contacto_full' %}">
                                Be Part
                                <br/>
                                of this
                                <br/>
                                Adventure!
                            </a>
                        </h4>
                    </div>
                </li>

            </ul>
        </div>
    </section>


    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/microsoft.svg' %}" alt="..."
                                      aria-label="Microsoft Logo"/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/google.svg' %}" alt="..."
                                      aria-label="Google Logo"/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/facebook.svg' %}" alt="..."
                                      aria-label="Facebook Logo"/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/ibm.svg' %}" alt="..."
                                      aria-label="IBM Logo"/></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Testimonials</h2>
                <h3 class="section-subheading text-muted">These are friends who walked with me on the academic
                    journey</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle"
                             src="{% static 'portfolio/images/about/team/Gabriel.jpeg' %}"
                             alt="..."/>
                        <h4>Gabriel Souza </h4>
                        <p class="text-muted">Junior Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/Bielsouza110/"
                           aria-label="Parveen Anand Twitter Profile"><i
                                class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/bielsouza110/"
                           aria-label="Parveen Anand Facebook Profile"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2"
                           href="https://www.linkedin.com/in/gabriel-souza-82004b180/"
                           aria-label="Parveen Anand LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle"
                             src="{% static 'portfolio/images/about/team/Betania.jpeg' %}"
                             alt="..."/>
                        <h4>Betânia Silá</h4>
                        <p class="text-muted">Junior Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/betania-sila-22102238"
                           aria-label="Diana Petersen Twitter Profile"><i
                                class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/betaniamariaq/"
                           aria-label="Diana Petersen Facebook Profile"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/betaniamaria/"
                           aria-label="Diana Petersen LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolio/images/about/team/Wisley.jpeg' %}"
                             alt="..."/>
                        <h4>Wisley Fontura</h4>
                        <p class="text-muted">Junior Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/wisley-costa-a22103352"
                           aria-label="Larry Parker Twitter Profile"><i
                                class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/wisley_fontoura/"
                           aria-label="Larry Parker Facebook Profile"><i
                                class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2"
                           href="https://www.linkedin.com/in/wisley-costa-5b786b240/"
                           aria-label="Larry Parker LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Colleagues in my career.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">2023 &copy; Developed by Felipe Silva</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/felipegsi" aria-label="Twitter"><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/lipe_gsi/"
                       aria-label="Facebook"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2"
                       href="https://www.linkedin.com/in/felipe-guimar%C3%A3es-751231236/" aria-label="LinkedIn"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'portfolio/JavaScript/sobreMim_fullPage_base.js' %}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}






