{% extends 'portfolio/base/layout_base.html' %}



{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/sobreMim_fullPage_base.css' %}">
{% endblock %}


{% block main %}

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Competências</h2>
                <h3 class="section-subheading text-muted">Serão apresentadas diversas áreas da minha vida</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">

                    <button class="botao_sobreMim"
                            onclick="window.location.href='{% url 'portifolio:home_educacao' %}'">
                           <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <h4 class="my-3">Educação</h4>
                    <p class="text-muted">Descrevo todas as licenciaturas, cadeiras e
                        cursos que me graduei com suas respetivas cadeiras.</p>


                </div>
                <div class="col-md-4">
                    <button class="botao_sobreMim"
                            onclick="window.location.href='{% url 'portifolio:sobreMim_video' %}'">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <h4 class="my-3">Apresentação Pessoal(vídeo)</h4>
                    <p class="text-muted">Neste breve vídeo, compartilho meus hobbies, mostrando minha paixão por
                        esportes ao ar livre, minha dedicação à música, meu amor pela leitura e meu lado criativo
                        por
                        meio de projetos de arte. Conheça um pouco mais sobre mim além do trabalho.</p>

                </div>
                <div class="col-md-4">
                    <button class="botao_sobreMim" onclick="window.location.href='{% url 'portifolio:web_home_full' %}'">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    </button>
                    <h4 class="my-3">Programação Web</h4>
                    <p class="text-muted">Esta secção destina-se a referenciar alguns atributos exigidos pela cadeira, e
                        mostrar a evoluçao ao longo do semestre.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Hobbies e interesses</h2>
                <h3 class="section-subheading text-muted">Meus interesses fora da vida profissional.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/1.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Relógios</div>
                            <div class="portfolio-caption-subheading text-muted">Grande paixão por IWC's</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/2.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Futebol</div>
                            <div class="portfolio-caption-subheading text-muted">Um amor eterno</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/3.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Carros</div>
                            <div class="portfolio-caption-subheading text-muted">Me identifico com todos</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/4.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Comida</div>
                            <div class="portfolio-caption-subheading text-muted">Experimentar novos sabores</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/5.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tecnologia</div>
                            <div class="portfolio-caption-subheading text-muted">Possibilidade de criar</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{% static 'portfolio/images/about/portfolio/6.jpg' %}"
                                 alt="..."/>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Perfumes</div>
                            <div class="portfolio-caption-subheading text-muted">Sentir novas fragrâncias</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Sobre mim</h2>
                <h3 class="section-subheading text-muted">Histórico de carreira acadêmica/profissional</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/1.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Abril 2017</h4>
                            <h4 class="subheading">Primeiro contato com a programação</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Meu primeiro contato com a programação foi com
                            alguns jogos que permitiam o aprendizado sobre Flexbox do CSS e a criação de algumas funções
                            com JavaScript</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/2.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Setembro 2019</h4>
                            <h4 class="subheading">Primeiros projetos escolares</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Um dos meus primeiros projetos com programação
                            foi a criação de uma calculadora, seguida de um jogo simples de memória, para além da
                            programação também aprendi conceitos do Gimp e CorelDRAW na edição de fotos</p></div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/3.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Setembro 2021</h4>
                            <h4 class="subheading">Projetos Acadêmicos</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">No percurso da Universidade fui capaz de
                            desenvolver diversos projetos complexos, os quais estarão referenciados neste portifolio,
                            que vão desde um simples print("Hello World!") até um algoritmo de carros autônomos que
                            visam evitar obstáculos ou um algoritmo capaz de aplicar alterações no pixel de várias
                            imagens, aplicando filtros, rotações, translações, binarizações, etc, sobre as imagens</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                                                     src="{% static 'portfolio/images/about/4.jpg' %}" alt="..."/></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Atualmente 2023</h4>
                            <h4 class="subheading">A procura de uma oportunidade de provar minhas competências</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">No presente momento busco uma vaga de emprego
                            em que possa depositar um voto de confiança em um aprendiz, tendo em conta que ainda estou
                            no começo da minha carreira e que existem imensos temas que sou leigo</p></div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Faça Parte
                            <br/>
                            Dessa
                            <br/>
                            História!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/microsoft.svg' %}" alt="..."
                                      aria-label="Microsoft Logo"/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/google.svg' %}" alt="..."
                                      aria-label="Google Logo"/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/facebook.svg' %}" alt="..."
                                      aria-label="Facebook Logo"/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'portfolio/images/about/logos/ibm.svg' %}" alt="..."
                                      aria-label="IBM Logo"/></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Equipe de colegas(entre outros)</h2>
                <h3 class="section-subheading text-muted">Estes são amigos que caminham comigo na jornada acadêmica</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolio/images/about/team/1.jpg' %}"
                             alt="..."/>
                        <h4>Parveen Anand</h4>
                        <p class="text-muted">Lead Designer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolio/images/about/team/2.jpg' %}"
                             alt="..."/>
                        <h4>Diana Petersen</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"
                           aria-label="Diana Petersen Facebook Profile"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"
                           aria-label="Diana Petersen LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'portfolio/images/about/team/3.jpg' %}"
                             alt="..."/>
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Developer</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam
                    corporis ea, alias ut unde.</p></div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'portfolio/JavaScript/sobreMim_fullPage_base.js' %}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

{% endblock %}






