<!-- page com todas as licenciaturas, aptidoes e formaçoes, equevalente a um all de tudo. -->
{% extends 'portfolio/base/layout_base.html' %}


{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/sobreMim_fullPage_base.css' %}">
{% endblock %}

{% block main %}

    <p>
        {% if request.user.is_authenticated %}
            user: {{ request.user }}
            <a href="{% url 'portifolio:logout_educacao' %}">Logout</a>
        {% else %}
            <a href="{% url 'portifolio:login_educacao' %}">Login</a>
        {% endif %}
    </p>




    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Cadeiras</h2>
                <h3 class="section-subheading text-muted">Todos as minhas cadeiras realizadas.</h3>
            </div>

            <div class="row">
                {% if cadeiras %}
                    {% for cadeira in cadeiras %}



                        <div class="col-lg-4 col-sm-6 mb-4">
                            <!-- Portfolio item 1-->
                            <div class="portfolio-item">

                                <a class="portfolio-link {{ cadeira.id }}" data-bs-toggle="modal"
                                   onclick="window.location.href='{% url 'portifolio:detalhes_cadeira_educacao' pk=cadeira.pk %}'">

                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>


                                    {% if cadeira.imagem %}
                                        <img class="img-fluid"
                                             src="{{ cadeira.imagem.url }}" alt="Imagem da cadeira"/>
                                    {% endif %}

                                </a>

                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">{{ cadeira.nome }}</div>
                                    <div class="portfolio-caption-subheading text-muted">Ano
                                        - {{ cadeira.ano_letivo_frequentado }}</div>
                                    <div class="portfolio-caption-subheading text-muted">Departamento
                                        - {{ cadeira.departamento }}</div>

                                    <div class="portfolio-caption-subheading text-muted"> {% if cadeira.ranking == 1 %}
                                        <p>⭐</p>
                                    {% elif cadeira.ranking == 2 %}
                                        <p>⭐⭐</p>
                                    {% elif cadeira.ranking == 3 %}
                                        <p>⭐⭐⭐</p>
                                    {% elif cadeira.ranking == 4 %}
                                        <p>⭐⭐⭐⭐</p>
                                    {% elif cadeira.ranking == 5 %}
                                        <p>⭐⭐⭐⭐⭐</p>
                                    {% else %}
                                        <p>⭐ - erro</p>
                                    {% endif %}</div>


                                    <div class="button-yellow_tarefa">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'portifolio:editar_cadeira_educacao' pk=cadeira.pk %}"
                                               class="btn btn-warning btn-sm">Editar</a>
                                            <a href="{% url 'portifolio:apagar_cadeira_educacao' pk=cadeira.pk %}"
                                               class="btn btn-warning btn-sm">Apagar</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>

                    {% endfor %}

                {% else %}
                    <p>Nenhuma cadeira encontrado.</p>
                {% endif %}


            </div>
        </div>
    </section>


    <p>
        {% if request.user.is_authenticated %}
            <a href="{% url 'portifolio:criar_cadeira_educacao' %}" class="btn btn-success btn-block">
                Criar Cadeira</a>
        {% endif %}
    </p>

{% endblock %}