{% extends 'portfolio/base/layout_base.html' %}


{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/blog/blog_template_folder/home_full_template.css' %}">
{% endblock %}

{% block main %}




    <!-- Top Background Image Wrapper -->
    <div class="bgded overlay" style="background-image:url('{% static 'portfolio/images/about/header-bg.jpg' %}');">

        <div id="pageintro" class="hoc clear">
            <p>
                {% if request.user.is_authenticated %}
                    user: {{ request.user }}
                    <a href="{% url 'portifolio:logout_blog' %}">Logout</a>
                {% else %}
                    <a href="{% url 'portifolio:login_blog' %}">Login</a>
                {% endif %}
            </p>
            <article>
                <h3 class="heading">Welcome to my Blog</h3>
                <p>Here, you will find a wide range of information about the world.</p>
                <footer><a class="btn" href="{% url 'portifolio:home_blog_full' %}">Reload</a></footer>
            </article>
        </div>
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <section id="introblocks">

                <ul class="nospace group">

                    {% for categoria in categorias %}


                        <li class="one_third">
                            <figure><a class="imgover" href="{% url 'portifolio:categoria_blog' categoria.id %}"> <img
                                    src="{{ categoria.imagem.url }}"
                                    alt="Imagem da Categoria"></a>
                                <figcaption>
                                    <h6 class="heading">{{ categoria.nome }}</h6>
                                    <p>{{ categoria.descricao }}</p>

                                    {% if user.is_authenticated %}
                                        <a href="{% url 'portifolio:editar_categoria_blog' categoria.id %}"
                                           class="btn btn-warning btn-sm">Editar</a>
                                        <a href="{% url 'portifolio:apagar_categoria_blog' categoria.id %}"
                                           class="btn btn-warning btn-sm">Apagar</a>
                                    {% endif %}

                                </figcaption>
                            </figure>
                        </li>





                    {% endfor %}


                </ul>
            </section>
            <p style="padding: 20px; text-align: center;">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'portifolio:add_categoria_blog' %}" class="btn btn-success btn-block">
                        Adicionar Categoria</a>
                {% endif %}
            </p>


            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>

    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <section id="introblocks">
                <h1 style="padding: 60px; text-align: center; font-size: 40px;">Featured Articles</h1>
                <ul class="nospace group">
                    {% for artigo in artigos_destaque %}
                        <li class="one_third">
                            <figure><a class="imgover" href="{% url 'portifolio:artigo_blog' artigo.id %}"> <img
                                    src="{{ artigo.imagem.url }}"
                                    alt="Imagem do Artigo"></a>
                                <figcaption>
                                    <h6 class="heading">{{ artigo.titulo }}</h6>
                                    <p>{{ artigo.descricao }}</p>

                                    {% if user.is_authenticated %}
                                        <a href="{% url 'portifolio:editar_artigo_blog' artigo.id %}"
                                           class="btn btn-warning btn-sm">Editar</a>
                                        <a href="{% url 'portifolio:apagar_artigo_blog' artigo.id %}"
                                           class="btn btn-warning btn-sm">Apagar</a>
                                    {% endif %}

                                </figcaption>
                            </figure>
                        </li>
                    {% endfor %}


                </ul>
            </section>
            <p style="padding: 20px; text-align: center;">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'portifolio:add_artigo_blog' %}" class="btn btn-success btn-block">
                        Adicionar Artigo</a>
                {% endif %}
            </p>
            <p style="padding: 20px; text-align: center;">

                <a href="{% url 'portifolio:artigos_blog' %}" class="btn btn-success btn-block">
                    All Articles</a>

            </p>
            <!-- / main body -->
            <div class="clear"></div>
        </main>
    </div>

    <div class="wrapper row2">
        <section class="hoc container clear">
            <div class="sectiontitle">
                <p class="nospace font-xs">Discover the most relevant categories of the moment</p>
                <h6 class="heading">The most searched categories</h6>
            </div>
            <ul class="nospace group center">
                <li class="one_third first">
                    <article><a href="#"><i class="fas fa-eraser fa-5x btmspace-50"></i></a>
                        <h6 class="heading">Educational</h6>
                        <p class="btmspace-30">Understand the key factors for your child's academic success [&hellip;]</p>
                        <footer><a class="btn" href="#">Learn More</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article><a href="#"><i class="fas fa-chess-bishop fa-5x btmspace-50"></i></a>
                        <h6 class="heading">Time Management</h6>
                        <p class="btmspace-30">With the exponential growth of technology, a regular day becomes short in the face of the offerings [&hellip;]</p>
                        <footer><a class="btn" href="#">Learn More</a></footer>
                    </article>
                </li>
                <li class="one_third">
                    <article><a href="#"><i class="fas fa-coins fa-5x btmspace-50"></i></a>
                        <h6 class="heading">Finance</h6>
                        <p class="btmspace-30">An extremely important topic for our daily lives, something that can keep us away from debt [&hellip;]</p>
                        <footer><a class="btn" href="#">Learn More</a></footer>
                    </article>
                </li>
            </ul>
        </section>
    </div>

    <div class="wrapper row3">
        <section class="hoc container clear">
            <div class="sectiontitle">
                <p class="nospace font-xs">Some numbers that this blog stores</p>
                <h6 class="heading">Statistics</h6>
            </div>
            <ul id="stats" class="nospace group">
                <li><i class="fas fa-id-badge"></i>
                    <p><a href="#">3421</a></p>
                    <p>Views</p>
                </li>
                <li><i class="fas fa-skull"></i>
                    <p><a href="#">5963</a></p>
                    <p>Number of annual deaths</p>
                </li>
                <li><i class="fas fa-umbrella"></i>
                    <p><a href="#">8473</a></p>
                    <p>Rainfall volume for this year</p>
                </li>
                <li><i class="fas fa-store-alt"></i>
                    <p><a href="#">6789</a></p>
                    <p>E-commerce's associates</p>
                </li>
            </ul>
        </section>
    </div>

    <div class="wrapper coloured">
        <section id="testimonials" class="hoc container clear">
            <!-- ################################################################################################ -->
            <div class="sectiontitle">
                <p class="nospace font-xs">Main authors of this blog</p>
                <h6 class="heading">Autores</h6>
            </div>

            {% for autor in autores %}

                <article class="one_half first"><img src="{{ autor.foto.url }}" alt="Imagem do Autor">
                    <blockquote>{{ autor.biografia }} </blockquote>
                    <h6 class="heading">{{ autor.nome }}</h6>
                    <em>{{ autor.data_nascimento }}</em></article>

            {% endfor %}

        </section>
    </div>




    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="{% static 'portfolio/JavaScript/jquery.min.js' %}"></script>
    <script src="{% static 'portfolio/JavaScript/jquery.backtotop.js' %}"></script>
    <script src="{% static 'portfolio/JavaScript/jquery.mobilemenu.js' %}"></script>

{% endblock %}