/* ==========WAVES=============== */



/*----------*/
body {
  font-size: 16px;
  background: rgba(51, 51, 51, 1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}


header {
  position: sticky;
  top: 0;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1;
}



/*-----container-----*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas iguais */
  grid-gap: 10px; /* Espaçamento entre os elementos */
}

.container > div {
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}
/*----/container-----*/


/*-----CAPITAIS-----*/
.capitais {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Define 3 colunas de tamanho igual */
  gap: 20px;
  justify-items: center;
  align-items: center;
  background-color: #666060;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
}

.capitais > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #888888;
  background-color: #f7f7f7;
  transition: transform 0.3s ease-in-out;
}

.capitais > div:hover {
  transform: translateY(-10px);
}

.capitais img {
  border-radius: 20px 8px 0 28px;
  width: 100%;
  height: auto;
}

.capitais > div > div:last-child {
  padding: 20px;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-----/CAPITAIS-----*/

.container {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar" "footer footer";
  margin: 0 auto;
  max-width: 1200px;
}



aside {
  grid-area: sidebar;
}



.icon i {
animation: rotate 1s linear infinite;
}

@keyframes rotate {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}




.image img:hover {
transform: scale(1.05);
transition: transform 0.3s ease-in-out;
}



.main{
  width: 400px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 38%;
  border: 5px solid black;
  border-radius: 6px; 
}
.main input[type='text'] {
  width: 88%;
  position: relative;
  height: 80px;
  top: 5px;
  text-align: right;
  padding: 3px 6px;
  outline: none;
  font-size: 40px;
  border: 5px solid black;
  display: flex;
  margin: auto;
  border-radius: 6px;
  color: black;
}
.btn input[type='button']{
  width:90px;
  padding: 2px;
  margin: 2px 0px;
  position: relative;
  left: 13px;
  top: 20px;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.5s;
  background-color: #495250;
  border-radius: 6px;
  color: white;
}
.btn input[type='button']:hover{
  background-color: black;
  color: white;
}

button {
  font-size: 18px;
  font-weight: 600;
  background-color: #fbff00;
  border-radius: 20px;
  border: 0;
  padding: 10px 60px;
  cursor: pointer;
}
