{% extends 'portfolio/base/layout_base.html' %}



{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/tarefas/home_tarefa.css' %}">
{% endblock %}





{% block main %}

    <h1>Tarefas</h1>
    <hr>
    <p class="subtitulo">Aplicação para gerir o seu dia-a-dia</p>


    <div class="nova_tarefa">

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <a href="{% url 'portifolio:home_tarefa' %}" role="button" class="btn btn-warning">Cancelar</a>
            <input type="submit" value="Gravar" class="btn btn-success">
        </form>

    </div>



{% endblock %}