{% extends 'portfolio/index.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">
{% endblock %}


{% block main %}

    <section class="hero">
        <div class="content">
            <h2>Portfólio</h2>
            <p>Este é o meu Portfólio feito na cadeira de Programação Web.</p>

            <div>
                <p>
                    <button class="dark-mode" onclick="toggleDarkMode()">Dark Mode</button>
                </p>
            </div>

            <button class="button-28" onclick="window.location.href = '{% url 'portifolio:sobreMim' %}'">Sobre mim
            </button>
        </div>
        <div class="waves"></div>
    </section>

{% endblock %}

