<!DOCTYPE html>
<html lang="">

<head>
    <title>Portifólio</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="Felipe Silva">
    <meta name="description" content="Meu Portifólio">
    <meta name="keywords" content="palavras chave">

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
    <!-- block link trás o css das outras pages-->
    {% block link %}
    {% endblock %}

    <script src="{% static 'portfolio/JavaScript/dark-mode-button.js' %}"></script>



</head>

<body>

<header>
    <nav>
        <div>
            <a href="{% url 'portifolio:home' %}">Início</a>
            <a href="{% url 'portifolio:sobreMim' %}">Sobre</a>
            <a href="{% url 'portifolio:projetos' %}">Projetos</a>
            <a href="{% url 'portifolio:index_blog' %}">Blog</a>
            <a href="{% url 'portifolio:contacto' %}">Contacto</a>
            <div class="animation start-home"></div>
        </div>

    </nav>
</header>
<main>
    {% block main %}
    {% endblock main %}
</main>

</body>
</html>