<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- layout.html -->
...
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
</head>

<body>
<!-- base.html -->


<header>
    <div>Título</div>
    <nav>
        <a href="{% url 'portifolio:home' %}">home</a>
        <a href="">products</a>
        <a href="">about</a>
        <a href="">contact</a>
    </nav>
</header>
<main>
    {% block main %}
    {% endblock main %}
</main>
<footer>ULusófona, 2023</footer>

</body>
</html>
