{% extends 'portfolio/index.html' %}



{% block main %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/sobreMim.css' %}">
s
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'portfolio/Videos/sdf.mp4' %}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="content">
        <h1>Sobre mim</h1>
        <p>Vídeo contando um pouco sobre mim!</p>
        <button id="myBtn" onclick="myFunction()">Pause</button>
    </div>

    <script>
        var video = document.getElementById("myVideo");
        var btn = document.getElementById("myBtn");

        function myFunction() {
            if (video.paused) {
                video.play();
                btn.innerHTML = "Pause";
            } else {
                video.pause();
                btn.innerHTML = "Play";
            }
        }
    </script>

    <div class="texto1">
        <h1>Capítulo 1: Introdução</h1>
        <ul>
            <li>Breve apresentação do contexto do texto</li>
        </ul>
        <h1>Capítulo 2: Educação e Formação</h1>
        <ul>
            <li>Cursos superiores e escolas frequentadas</li>
            <li>Certificados obtidos em Excel e Word</li>
            <li>Competências técnicas em Python, Java, C, C++, C#, Kotlin e JavaScript</li>
            <li>Competências organizativas, sociais e linguísticas</li>
        </ul>
        <h1>Capítulo 3: Hobbies e Interesses </h1>
        <ul>
            <li>Paixão pelo futebol desde os 5 anos de idade</li>
            <li>Descoberta da programação com 19 anos de idade</li>
            <li>Descoberta da programação com 19 anos de idade</li>
            <li>Interesse em games e música</li>
        </ul>
        <h1>Capítulo 4: Outras Atividades </h1>
        <ul>
            <li>Prática de desporto</li>
            <li>Participação em clubes de fotografia ou outros interesses</li>
        </ul>
        <h1>Capítulo 5: Voluntariado </h1>
        <ul>
            <li> Participação em projetos de voluntariado e ações sociais</li>
        </ul>
        <h1>Capítulo 6: Aptidões e Competências Pessoais </h1>
        <ul>
            <li>Lista de projetos realizados e disciplinas onde aplicou competências técnicas</li>
            <li>Competências organizativas, sociais e linguísticas aplicadas em diferentes contextos</li>
        </ul>
        <h1>Capítulo 7: Conclusão</h1>
        <ul>
            <li>Síntese das informações apresentadas</li>
            <li>Ênfase nas competências técnicas, organizativas e sociais</li>
            <li>Destaque dos hobbies e interesses pessoais e da experiência em voluntariado.</li>
        </ul>
    </div>

{% endblock main %}