{% extends 'portfolio/base/layout_base.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/base/sobreMim_base.css' %}">
{% endblock %}


{% block main %}

    <video autoplay muted loop id="myVideo">
        <source src="{% static 'portfolio/Videos/sdf.mp4' %}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="cont">
        <h1 class="sobre-mim">About Me</h1>
        <p>Vídeo apresentando quem sou eu!</p>
        <button id="myBtn" onclick="window.location.href='https://www.youtube.com/watch?v=5N8BR7tDZMo&t=1s'">
            Com Áudio
        </button>
        <button id="myBtn" onclick="window.location.href = '{% url 'portifolio:sobreMim_Full' %}'">Saiba mais</button>
    </div>


{% endblock main %}