/* ==========WAVES=============== */


/*----------*/
body {
    font-size: 16px;
    background: rgba(51, 51, 51, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}


header {
    position: sticky;
    top: 0;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 2;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.cards .image-project {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ou object-fit: contain; */
}

.cards .title {
    width: 100%;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.cards .button-yellow {
    width: 100%;
    margin-bottom: 10px;
}


/*-----CAPITAIS-----*/
.capitais {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas de tamanho igual */
    gap: 20px;
    justify-items: center;
    align-items: center;
    background-color: rgb(51 51 51 / 71%);;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #000000;
    margin: 20px auto;
    max-width: 1200px;
}

.capitais > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #403e3e;
    background-color: #f7f7f7;
    transition: transform 0.3s ease-in-out;
}

.capitais > div:hover {
    transform: translateY(-10px);
}

.capitais img {
    border-radius: 20px 8px 0 28px;
    width: 100%;
    height: auto;
}

.capitais > div > div:last-child {
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*-----/CAPITAIS-----*/


.btn input[type='button'] {
    width: 90px;
    padding: 2px;
    margin: 2px 0;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #495250;
    border-radius: 6px;
    color: white;
}

.btn input[type='button']:hover {
    background-color: black;
    color: white;
}

button {
    font-size: 18px;
    font-weight: 600;
    background-color: #fbff00;
    border-radius: 20px;
    border: 0;
    padding: 10px 60px;
    cursor: pointer;
}

.hero-projetos {
    /* position: relative; */
    /* align-items: center; */
    /* overflow: hidden; */
    /* position: relative; */
    /* z-index: 1; */
    /* font-size: 4.5rem; */
    /* margin: 0 0 10px; */
    /* line-height: 1; */
    /* color: rgba(255, 255, 255, 0.9); */
    color: white;
    position: relative;
    z-index: 1;
    line-height: 1.4;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
}


.main {
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 38%;
    border: 5px solid black;
    border-radius: 6px;
}

.main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid black;
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: black;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
}